<h1>Bienvenue sur les restos de ma ville en ligne !</h1>
<h2>Une plateforme pour commander vos plats préférés</h2>

<h2>Afficher un restaurant</h2>
<p><strong>Nom :</strong> {{ restaurant.name }}</p>
<p><strong>Type de restaurant :</strong> {{ restaurant.restaurantType }}</p>
<p><strong>Adresse :</strong> {{ restaurant.address }}</p>
<p><strong>Ville :</strong> {{ restaurant.city }}</p>
<p><strong>Code postal :</strong> {{ restaurant.postalCode }}</p>
<p><strong>Pays :</strong> {{ restaurant.country }}</p>
<p><strong>Email :</strong> {{ restaurant.email }}</p>
<p><strong>Téléphone :</strong> {{ restaurant.phoneNumber }}</p>
<p><strong>Mot de passe :</strong> {{ restaurant.password }}</p>
<p><strong>Numéro de TVA :</strong> {{ restaurant.tvaNumber }}</p>

<h2>Afficher une liste de restaurant</h2>





